*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:pink;
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.CRUDS{
width: 80%;
margin: auto;
}
.head{
    text-align: center;
    text-transform:uppercase ;
    margin: 10px  0 ;
}
input{
    color: crimson;
width: 95%;
height: 10;
outline: none;
border: none;
background-color:black;
margin: 6px 0;
padding: 15px;
border-radius: 10px;
cursor: pointer;
}
input:focus{
    width: 100%;
    height: 20px;
    background-color: blanchedalmond;
size:20px ;
}
.price input{
    width: 220px;
}
#total{
    background:green ;
    padding:5px 3px;
    border-radius: 5px;
    cursor: pointer;
}
#total::before{
    content: "Total:";
    
}
button{
    background:green;
    color: black;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color:greenyellow;
letter-spacing: 1px;
transform: scale(1);
}
.btnsearch{

    display: flex;
    width: 100%;
}
table{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
table th{
    text-transform: uppercase;
} 
th,td{
    padding: 5px;
}





